*.RData
*.png
*.pdf
*.Rproj
.Rhistory
.history
.DS_Store
.Rapp.history
.Rproj.user
shannon_set_paths.R
scratch_shannon.R
CodeSnippets_SS.R
data/
data_raw/ecoregions_wwf
data_raw/hwsd
figures/
*.Rproj*
.RDataTmp
.RDataTmp1